- name: Check if kubectl is available
  ansible.builtin.command: which kubectl
  register: kubectl_check
  changed_when: false
  failed_when: false

- name: Decide whether to install Kubernetes helper tools
  ansible.builtin.set_fact:
    install_k8s_helpers: "{{ kubectl_check.rc == 0 }}"

- name: Install Kubernetes helpers via Homebrew (macOS)
  community.general.homebrew:
    name:
      - k9s
      - kubectx
      - kubens
    state: latest
  when:
    - install_k8s_helpers
    - ansible_os_family == 'Darwin'

- name: Map architecture for Kubernetes binaries
  ansible.builtin.set_fact:
    kubetools_arch: >-
      {% if ansible_architecture in ['x86_64', 'amd64'] %}amd64{% elif ansible_architecture in ['aarch64', 'arm64'] %}arm64{% else %}unsupported{% endif %}
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Ensure architecture is supported
  ansible.builtin.assert:
    that:
      - kubetools_arch != 'unsupported'
    fail_msg: "Kubernetes helper installation currently supports x86_64/ARM64 only."
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Download k9s archive
  ansible.builtin.get_url:
    url: "https://github.com/derailed/k9s/releases/latest/download/k9s_Linux_{{ kubetools_arch }}.tar.gz"
    dest: /tmp/k9s.tar.gz
    mode: '0644'
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Extract k9s binary
  ansible.builtin.unarchive:
    src: /tmp/k9s.tar.gz
    dest: /tmp/k9s-bin
    remote_src: true
    mode: '0755'
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Install k9s binary on Linux
  ansible.builtin.copy:
    src: /tmp/k9s-bin/k9s
    dest: /usr/local/bin/k9s
    remote_src: true
    mode: '0755'
  become: true
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Ensure kubectx repository is present
  ansible.builtin.git:
    repo: https://github.com/ahmetb/kubectx.git
    dest: /opt/kubectx
    version: master
    update: yes
  become: true
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Symlink kubectx command
  ansible.builtin.file:
    src: /opt/kubectx/kubectx
    dest: /usr/local/bin/kubectx
    state: link
    force: true
  become: true
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'

- name: Symlink kubens command
  ansible.builtin.file:
    src: /opt/kubectx/kubens
    dest: /usr/local/bin/kubens
    state: link
    force: true
  become: true
  when:
    - install_k8s_helpers
    - ansible_os_family != 'Darwin'
