- name: Install tmux on Linux
  ansible.builtin.package:
    name: tmux
    state: latest
  become: true
  when: ansible_os_family != 'Darwin'

- name: Install tmux on macOS
  community.general.homebrew:
    name: tmux
    state: latest
  when: ansible_os_family == 'Darwin'

- name: Install Powerline Blue theme
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/jimeh/tmux-themepack/master/powerline/block/orange.tmuxtheme
    dest: ~/.tmux-orange.tmuxtheme

- name: Source theme in .tmux.conf
  ansible.builtin.lineinfile:
    path: "{{ lookup('env', 'HOME') }}/.tmux.conf"
    create: yes
    regexp: '.*tmuxtheme.*'
    line: 'source-file ${HOME}/.tmux-orange.tmuxtheme'

- name: Set start window index from 1 in .tmux.conf
  ansible.builtin.lineinfile:
    path: "{{ lookup('env', 'HOME') }}/.tmux.conf"
    line: 'set-option -g base-index 1'
