- name: Ensure Node.js and npm are installed on Linux
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  become: true
  loop:
    - nodejs
    - npm
  when: ansible_facts['os_family'] != 'Darwin'

- name: Ensure Node.js is installed on macOS
  community.general.homebrew:
    name: node
    state: latest
  when: ansible_facts['os_family'] == 'Darwin'

- name: Install cspell globally on Linux
  community.general.npm:
    name: cspell
    global: true
    state: latest
  become: true
  when: ansible_facts['os_family'] != 'Darwin'

- name: Install cspell globally on macOS
  community.general.npm:
    name: cspell
    global: true
    state: latest
  when: ansible_facts['os_family'] == 'Darwin'

- name: Copy nvim cspell configuration
  ansible.builtin.copy:
    src: nvim
    dest: "{{ lookup('env', 'HOME') }}/.config/."

- name: Ensure CSpell keymaps are present in Neovim keymaps.lua
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['user_dir'] }}/.config/nvim/lua/core/keymaps.lua"
    marker: "-- {mark} ANSIBLE MANAGED CSpell keymaps"
    insertafter: EOF
    prepend_newline: true
    block: |
      -- CSpell
      keymap.set({ "n", "v" }, "<leader>ca", vim.lsp.buf.code_action, { desc = "code action" })
      keymap.set("n", "<leader>cn", vim.diagnostic.goto_next, { desc = "next diagnostic" })
      keymap.set("n", "<leader>cp", vim.diagnostic.goto_next, { desc = "previous diagnostic" })
